html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

legend {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  display: table;
  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

[hidden],
template {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff !important;
  color: #222;
  font-family: PingFangSC-Regular, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.28rem;
  line-height: 1.5;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ol,
ul {
  list-style: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

a {
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:focus {
  text-decoration: underline;
  text-decoration-skip: ink;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  cursor: not-allowed;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix::after,
.clearfix::before {
  content: ' ';
  display: table;
}

.clearfix::after {
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.tac {
  text-align: center;
}

.bottom-block {
  height: 1.52rem;
}

.fixed-bottom {
  position: fixed;

  &.hidden {
    display: none;
  }
}

.no-tabbar .bottom-box {
  bottom: 0 !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  border: 0;
  outline: 0;
}

/* *
 * Remove border radius for some special modal
 */

.am-modal-wrap {
  .am-modal.no-border-radius {
    .am-modal-content {
      border-radius: 0;
    }
  }
}

.sticky .section-header {
  margin-top: 0;
}